* {
    box-sizing: border-box;
}

body{
  background-color: #2980b9 !important;
  font-family: "Open-Sans-Bold";
}

.container{
  margin-top: 100px;
  border-radius: 10px;
  background-color: #fff;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

td{
	width: 30px;
	height: 30px;
}

tr{
	height: 30px;
}

img{
    width: 50px;
    height: 50px;
}

.tblMatriz{
    margin-left: 30px;
}

.numberCircle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
}


input[type="text"]{
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #c3c3c3;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

#input{
  margin-top: 10px;
  padding: 30px 50px 0;
}

#input h2{
  margin: 0 0 20px 0;
  color: #999;
}

#grafo{
    margin-left: 50px;
}
#caminho{
    height: 300px;
}

p{
    font: 20px Arial, sans-serif;
    height: 16px;
    max-height: 16;
}
